@font-face
{
font-family:ubu;
src: url(fonts/Ubuntu-Title.ttf);
}
html {
    min-height:300px;
    background:url(painted-edit.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

    /* disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

* {
    color: #494949;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#holder {
  width: 100%;
  margin: auto;
}
#login {
    width:300px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    height:200px;

}
#header {
    font-size:72px;
    color:white;
    font-family:ubu;
    cursor:default;
    width:300px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    height:500px;
}
#a {
    font-size:80px;
    color:orange;
}
#register {
    color:orange;
    font-family:Arial;
    text-decoration:none;
    font-size:18px;
    font-weight:normal;
    text-shadow:1px 1px black;
    display:inline;
    margin-left:95px;
    line-height:75px;
}
#submit {
    border-radius:5px;
  color: #ffffff;
  font-size: 27px;
  background: #44cc3d;
  padding: 8px 15px 8px 15px;
  margin-top: 10px;
  float:right;
  border:none;
  text-decoration:none
}
h3 {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 26px;
    //background: #2c3e50;
    line-height: 30px;
    color: #E622A1;
    text-shadow:2px 2px black;
    text-align:center;
    width: 100%;
}
input, label, h3 {
    font-family:'Tahoma';
}
a {
    display: block;
    text-align: center;
    width: 100%;
}
input {
    margin:-1px;
    border: 1px solid teal;
    padding: 10px;
    outline: 0;
    color: #494949;
    font-size: 14px;
    width: 100%

}
#email, #name {
    border-radius:5px 5px 0 0;
}
#make, #model, #licenseno {
    border-radius:0;
}
#pass, #plateno {
    border-radius: 0 0 5px 5px;
}

label.label-floatlabel {
    font-weight: normal;
    font-size: 11px;
    color:teal;
}
